@{ ViewBag.Title = "Mi Bus Puntano"; }

<br />
<br />
<br />
<div id="frame">
    <iframe id="mi_mapa" src="/Home/Map" style="border:solid 0px;"></iframe>

</div>
<link href="~/Content/estilo_inicio.css" rel="stylesheet" />
<div class="panel panel-default">
    <div class="panel-body">
<ul id="navigationMenu">
    <a class="caminando" href="#">
        <span>Caminando</span>
    </a>

    <a class="bici" href="#">
        <span>Bicicleta</span>
    </a>

    <a class="taxi" href="#">
        <span>Taxi</span>
    </a>

    <a class="colectivo" href="#">
        <span>Colectivo</span>
    </a>

</ul>
      
    </div>
</div>






