@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Mi bus puntano</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places,geometry,drawing"></script>
    <script src="~/Scripts/rutas.js"></script>
    <script src="~/Scripts/geo.js"></script>
    <script src="~/Scripts/busquedadelugar.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>  
</head>
<body onload="initialize(),initialize1()">
        <div id="map" style="float:left;width:63%; height:100%"></div>
        <div id="botonesmapa">
            <input id="pac-input-desde" class="controls" type="text" placeholder="Ingrese origen" value="Chacabuco 702-800, San Luis, Argentina">
            <input type="image" id="1" class="geo" src="~/Images/g.png" onclick="geodesde()"/>
            <input id="pac-input-hasta" class="controls" type="text" placeholder="Ingrese destino" value="Junin 702-800, San Luis, Argentina">
            <input type="image" id="2" class="geo" src="~/Images/g.png" onclick="geohasta()"/>
            <</div>
            <div id="directionsPanel" class="panel" style="float:right;width:34%;height: 100%">
                <p>Total Distance: <span id="total"></span></p>
            </div>
    </body>
</html>
