@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Mi bus puntano</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places,geometry,drawing"></script>
</head>
<body>
    <div id="map"></div>
    <div id="botonesmapa">
        <input id="pac-input-desde" class="controls" type="text" placeholder="Ingrese origen">
        <input type="image" class="geo" src="~/Images/g.png" onclick="geodesde()" />
        <input id="pac-input-hasta" class="controls" type="text" placeholder="Ingrese destino">
        <input type="image" class="geo" src="~/Images/g.png" onclick="geohasta()" />
    </div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: new google.maps.LatLng(-33.302248, -66.336788),
                disableDefaultUI: true,
                MapTypeControl: true,
                streetViewControl: true,
                ZoomControl: true,
                zoom: 16
            });
        }

    </script>

    <script type="text/javascript" src="~/Scripts/busquedadelugar.js"></script>
    <script type="text/javascript" src="~/Scripts/rutas.js"></script>
    <script type="text/javascript" src="~/Scripts/geo.js"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script>
        (function () {
            initialize();
        })();
    </script>

</body>
</html>







